<div class="container">
	<div class="quiz">
		<div *ngIf="!isReview;">
			<h2 style="padding-left: 15px;" class="navbar brand">{{ quiz.name }}</h2>
			<div class="questions">
				<div class="question-item" *ngFor="let question of quiz.questions; let i = index">
					<p class="question_value">{{ question.id }}. {{ question.value }}</p>
					<div *ngFor="let answer of question.answers; let j = index">
						<label class="question">
							<input type="radio" [value]="j" name="q{{ i }}" (change)="choose(question.id,answer.id)" />
							{{ answer.value }}
						</label>
					</div>
				</div>
			</div>

			<div class="quiz_submit_btn">
				<button class="btn btn-primary" (click)="submit()"
					[disabled]="quiz.questions.length !== selectedAnswers.length">Submit</button>
			</div>
		</div>
		<div *ngIf="isReview">
			<h2 class="navbar brand">{{ quiz.name }}</h2>
			<div class="questions">
				<div class="question-item question" *ngFor="let rev of review">
					<p class="question_value">{{ findQuestion(rev.questionId).id }}. {{
						findQuestion(rev.questionId).value
						}}</p>
					<div>
						<div *ngFor="let answer of findQuestion(rev.questionId).answers">
							<label [ngClass]="{
							'correct_answer': answer.id === rev.correctAnswer,
							'incorrect_answer': answer.id === rev.userAnswer && answer.id !== rev.correctAnswer
						}">
								<input type="radio" [checked]="answer.id === rev.userAnswer" disabled>
								{{ answer.value }}
							</label>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit" (click)="goToResultPage()">Go to result page</button>
		</div>
	</div>
</div>