<section class="saving_section ">
	<div class="box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="img-box">
						<img src="../../../assets/savings-back.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="detail-box">
						<div class="heading_container">
							<h2>
                Go through the quiz and  <br>
                get a discount 30%
							</h2>
              <p style="padding: 10px">
                Only today you can pass the quiz and get a discount
              </p>
						</div>
						<div class="btn-box">
							<a routerLink="/quiz" class="contact-us">
								Try now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
