<section class="welcome_section">
	<div class="container-fluid layout_padding">
		<div class="row">
			<div class="col-md-7">
				<div class="detail-box">
					<p class="welcome_title">
						Welcome To Our <br>
						Qazaq Republic Shop
					</p>
					<p class="welcome_text">
						Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error
						distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus
						maiores
						aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.
					</p>
					<a class="contact-us" href="#contact">
						Contact Us
					</a>
				</div>
			</div>
			<div class="col-md-5 flex-center">
				<div class="img-box">
					<img class="rot" src="../../../assets/main-logo.svg" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>